.btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

.btn:hover {
    background-color: rgb(102, 0, 0);
    transform: scale(1.1);
  }

input:focus, select:focus, textarea:focus {
  border-color: #0a2342;
  outline: none;
  box-shadow: 0 0 0 2px rgba(10, 35, 66, 0.2);
  background-color: rgb(242, 242, 242);
} 

#qualidade a:any-link {
  color: #0a2342;
  font-weight: bold;
}

.produtos_vinhos img{
  transition: transform 0.2s ease-in-out;
}

.produtos_vinhos img:hover {
  transform: scale(1.1) rotateY(180deg);
}

.header{
  animation-duration: 10s;
  animation-name: headeranimation;
  animation-iteration-count: infinite;
  animation-delay: 1s;

}
@keyframes headeranimation {
  25%{ opacity: 0.85; scale: 1.0;}
  50%{ opacity: 1; scale: 1.05;}
  75%{opacity: 0.85; scale: 1.0;}}
  100%{opacity: 1; scale: 1.0;}}


}