.btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

.btn:hover {
    background-color: rgb(102, 0, 0);
    transform: scale(1.1);
  }

input:focus, select:focus, textarea:focus {
  border-color: #0a2342;
  outline: none;
  box-shadow: 0 0 0 2px rgba(10, 35, 66, 0.2);
  background-color: rgb(242, 242, 242);
} 

#qualidade a:any-link {
  color: #0a2342;
  font-weight: bold;
}

.menu li:hover {
  animation: grow 0.3s ease-in-out forwards, rotate 0.3s ease-in-out forwards;
}

@keyframes grow {
  to {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  to {
    transform: rotate(2deg);
  }
}

.produtos_vinhos img{
  transition: transform 0.2s ease-in-out;
}

.produtos_vinhos img:hover {
  transform: scale(1.1) rotateY(180deg);
}

.header{
  animation-duration: 10s;
  animation-name: headeranimation;
  animation-iteration-count: infinite;
  animation-delay: 1s;

}
@keyframes headeranimation {
  25%{ opacity: 0.65; scale: 1.0;}
  50%{ opacity: 1; scale: 1.08;}
  75%{opacity: 0.65; scale: 1.08;}
  100%{opacity: 1; scale: 1.0;}}

h1::before {
  content: "🍇 ";
}

h1::after {
  content: " 🍷";
} 

::selection {
  background-color: #a20000;
  color: white;
}

.first::first-letter {
  font-size: 2rem;
  color: #0a2342;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin-right: 6px;
}