/* Estilo para o menu horizontal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav {
    background-color: darkblue;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
}

nav ul li {
    flex: 1;
}
nav ul li:hover {
    background-color: #575757;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: red;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: darkblue
}

p {
    text-align: center;
    margin-top: 20px;
    color: red
}

.produtos_vinhos {
    /* width: 1200px; */
    padding: 40px;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: white;

    border: solid 5px white;
    border-radius: 5px;

    /* width: fit-content; */

}

table {
    text-align: center;
}

.produtos_vinhos div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produtos_vinhos img {
    border-radius: 10px;
}

.produtos_vinhos p {
    font-size: 20px;
  font-weight: bold;
}

footer {
    background-color: #0a2342;
    color: white;
    padding: 40px 25px;
    text-align: center;
    margin-top: 80px;
    font-size: 1rem;
    line-height: 1.6;
    border-top: 5px solid #cc1f1a;
  }
  
  footer a {
    color: #f7f7f7;
    text-decoration: underline;
    font-weight: 500;
  }